body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f0f5;
    text-align: center;
  }
  h1 {
    margin-top: 40px;
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
    color: #555;
  }
  .container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    flex-wrap: wrap;
  }
    /*level 1 */
  .cardlevel1 {
    background: white;
    border-radius: 8px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    padding: 20px;
  }
  .cardlevel1 img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  .cardlevel1 h3 {
    margin: 15px 0;
    font-size: 1.2rem;
  }
  .cardlevel1 p {
    color: #777;
    margin-bottom: 20px;
  }
  .cardlevel1 a {
    display: inline-block;
    background-color: #4c8bf5;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  .cardlevel1 a:hover {
    background-color: #1076dd;
  }
  
   /*level2 */
  
  .cardlevel2 {
    background: white;
    border-radius: 8px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    padding: 20px;
  }
  .cardlevel2 img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    
  }
  .cardlevel2 h3 {
    
    margin: 15px 0;
    font-size: 1.2rem;
  }
  .cardlevel2 p {
    color: #777;
    margin-bottom: 20px;
  }
  .cardlevel2 a {
    display: inline-block;
    background-color: #4c8bf5;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  .cardlevel2 a:hover {
    background-color: #1076dd;
  }
  /* level 3*/
  .cardlevel3 {
    background: white;
    border-radius: 8px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    padding: 20px;
  }
  .cardlevel3 img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  .cardlevel3 h3 {
    margin: 15px 0;
    font-size: 1.2rem;
  }
  .cardlevel3 p {
    color: #777;
    margin-bottom: 59px;
  }
  .cardlevel3 a {
    display: inline-block;
    background-color: #4c8bf5;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  .cardlevel3 a:hover {
    background-color: #1076dd;
  }
  
  /* quiz */
  .cardquiz {
    background: white;
    border-radius: 8px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    padding: 20px;
  }
  .cardquiz img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  .cardquiz h3 {
    margin: 15px 0;
    font-size: 1.2rem;
  }
  .cardquiz p {
    color: #777;
    margin-bottom: 20px;
  }
  .cardquiz a {
    display: inline-block;
    background-color: #4c8bf5;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  .cardquiz a:hover {
    background-color: #1076dd;
  }
  